.root {
  font-size: 15px;
  max-width: 240px;
  padding: 15px;
  border-radius: 0;
  box-shadow: 0 5px 24px 0 rgba(0, 0, 0, 0.45);

  background-color: themed(#fff, #252530);
  color:  #fff;

  &.error {
    background-color: #ff4114;
  }

  &.small {
    font-size: 13px;
    padding: 10px;
  }

  .arrow {
    color: #252530;

    &.error {
      color: #ff4114;
    }
  }

  // body height 100% causes incorrect popper positioning if top is not fixed (MUI uses popperjs)
  // https://github.com/popperjs/popper-core/issues/457#issuecomment-367692177
  .popper {
    top: 0;
  }

  .fixItButton {
    margin: 10px 0;
  }
}
